# Declare package dependencies to be installed before deployment
packages:
  yum:
    patch: [] # Needed for nokogiri gem to succesfully install and patch libxml2
    postgresql-devel: [] # Needed for the postgres adapter

commands:
  00_bundlerfix_command: # Fix for EB environment rubygems conflict. See https://forums.aws.amazon.com/thread.jspa?threadID=152837&tstart=0 
    command: "gem install rubygems-update && update_rubygems"
    leader_only: false

container_commands:
  01_supervisor_install:    
    command: "easy_install supervisor"
  02_supervisor_config:
    command: "cat .ebextensions/supervisor_config.txt > /var/app/support/assets/supervisord.conf"
  03_supervisor_environment:
    command: "appenv=`cat /opt/elasticbeanstalk/support/envvars.d/sysenv | tr '\n' ',' | sed 's/export //g' | sed 's/%/%%/g'` && sed -i 's!<env>!'\"$appenv\"'!g' /var/app/support/assets/supervisord.conf"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/run_supervisord.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      # Start supervisord (if supervisord is already running, this will fail without stopping executiong)
      supervisord -c /var/app/support/assets/supervisord.conf

      # Reread the supervisord config
      supervisorctl -c /var/app/support/assets/supervisord.conf reread

      # Update supervisord in cache without restarting all services
      supervisorctl -c /var/app/support/assets/supervisord.conf update

      # Start/Restart resque programs through supervisord
      supervisorctl -c /var/app/support/assets/supervisord.conf restart resqueworker
      supervisorctl -c /var/app/support/assets/supervisord.conf restart resquescheduler